<section class="search">

    <div class="panel f_l_user_list">

        <div class="pl_head">
            <p class="ttl">404 PAGE NOT FOUND :_(</p>
        </div>

    </div>

    <p class="undefinde">お探しのページは見つかりませんでした。<br>
        リンクが間違っているか、削除された可能性があります。<br><br>
        <%= link_to 'トップページへ', '/' %></p>

</section>