<% set_meta_tags title: "検索結果：#{@w}" %>

<section class="search">

    <div class="panel f_l_user_list posts_l">

        <div class="pl_head">
            <h1 class="ttl"><%= @w %></h1>
            <p class="sttl">ヒット <%= @search.length %> 件</p>
        </div>

        <% if !@search.empty? %>

        <% @search.each do |post| %>
        <%= render partial: 'posts/activity', locals: { post: post} %>
        <% end %>

        <% else %>
        該当する投稿は見つかりません
        <% end %>

    </div>

</section>