<section class="search">

    <div class="panel f_l_user_list">

        <div class="pl_head">
            <p class="ttl"><%= @w %></p>
            <p class="sttl">ヒット <%= @search.length %> 件</p>
        </div>

        <% if !@search.empty? %>

        <ul>
            <% @search.each do |profile| %>
            <% user = User.find(profile.user_id) %>
            <%= render partial: "users/user_list", locals: { user: user, profile: profile } %>
            <% end %>
        </ul>

        <% else %>
        該当するユーザーは見つかりません
        <% end %>

    </div>

</section>