<% set_meta_tags title: "「#{@w}」は見つかりません" %>

<section class="search">

    <div class="panel f_l_user_list">

        <div class="pl_head">
            <h1 class="ttl">" <%= @w %> " は見つかりません</h1>
            <p class="sttl">ヒット 0 件</p>
        </div>

    </div>

    <p class="undefinde">キーワードを変えて検索してみてください</p>

</section>