<section class="search">

    <div class="panel f_l_user_list">

        <div class="pl_head">
            <p class="ttl">" <%= @w %> " は見つかりません</p>
            <p class="sttl">0 results</p>
        </div>

    </div>

</section>