<% set_meta_tags title: "「#{params[:userid]}」お探しのユーザーが見つかりません" %>

<div class="form_head">
    <h2><%= params[:userid] %></h2>
</div>

<section class="nouser">

    <p class="undefinde">お探しのユーザーが見つかりません :_(<br>
        <span>キーワードを変えて検索してみてください</span></p>

</section>