<div class="form_head">
    <h2>機能説明</h2>
</div>

<div class="text_box_in">
    <h3>メイン機能</h3>
    <p>これらの機能は、アカウントを作成することで利用できます。<br>
    アカウント作成は<%= link_to 'こちら', new_registration_path(resource_name) %></p>

    <h3>プロフィール</h3>
    <p>ハマっているアーティストや曲、ライブの予定などを書き込めます。<br>
    「今（Now）」だけでなく今までに聞いてきた曲や過去の音楽イベントなどの「過去（History）」も書き込めば、より魅力的なプロフィールになります。プロフィールを充実をさせて、趣味の合う仲間を見つけましょう。</p>

    <h3>プロフィール充実度</h3>
    <p>プロフィールが埋まっているほど％が増えます。充実させるほど、ユーザーの目に触れる機会が増えていきます。</p>

    <h3>ひとこと</h3>
    <p>リアルタイムなコメントを残すことができます。今聞いている曲の感想や参加イベントの感想など、今の気持ちを表現してみましょう。このコメントはアーカイブとして残りません。今しか見ることができない貴重なコメントです。</p>

    <h3>フォロー</h3>
    <p>お気に入りのユーザーをフォローしましょう。フォローしたユーザーのアクティビティ、ひとこと、プルフィール更新はタイムラインに表示されます。</p>

    <h3>アクティビティ投稿</h3>
    <p>写真やYouTube動画などを添付してアクティビティを投稿できます。ライブ・フェスなどの音楽イベントや、お気に入りの曲、みんなにシェアしたい音楽などをどんどん投稿しましょう。</p>

    <h3>いいね</h3>
    <p>アクティビティに「いいね」をつけられます。いいねしたアクティビティはユーザーのプロフィールから確認できます。</p>

    <h3>コメント・返信</h3>
    <p>アクティビティにコメントすることができます。共感した投稿にはどんどんコメントを残しましょう。</p>

    <h3>検索</h3>
    <p>ユーザー、プロフィール、アクティビティごとに検索ができます。</p>
</div>