<div class="form_head">
    <h2>プライバシーポリシー</h2>
</div>

<div class="text_box_in clearfix">
    <p>Otofileは公開され、投稿は世界中の人々によって即座に閲覧および検索可能となります。また、実名を使用したくない場合には、仮名でOtofileを利用することもできます。<br><br>

        Otofileを利用する際には、たとえ投稿を見ているだけであっても、使用している端末の種類やIPアドレスといったユーザーの一部の個人情報がOtofileに送信されます。ユーザーは、自身のメールアドレス、電話番号、アドレス帳の連絡先、および公開プロフィールなどのさらなる情報をOtofileと共有することができます。Otofileはこれらの情報を、ユーザーのアカウントを安全に保護するため、ユーザーにより関連のある投稿、フォローすべき人、イベント、および広告を表示するため等の目的に使用します。<br><br>

        ユーザーは、アカウントの設定からOtofileが収集するデータとその使用方法を制限したり、アカウントのセキュリティ、マーケティング設定、ユーザーのアカウントにアクセス可能なアプリ、そしてユーザーがOtofileにアップロードしたアドレス帳の連絡先を管理したりすることができます。ユーザーは、Otofile上で自身が共有した情報を ダウンロード することもできます。<br><br>

        ユーザーがOtofileと共有した情報に加えて、Otofileは、ユーザーのツイート、ユーザーが閲覧したコンテンツ、「いいね」をしたコンテンツ、また、ユーザーが興味・関心のある話題、を使用して、ユーザーにより関連のあるコンテンツを表示します。透明性を高めるために、ユーザーはOtofileがどのような情報を保有しているかを知ることができ、またいつでもそれらの情報を変更または訂正することができます。<br><br>

        本ポリシー、Otofileがユーザーの個人情報を収集または処理する方法、その他のOtofileによるプライバシーの取扱いに関する事項についてご質問がある場合には、いつでもお問い合わせください。</p>
</div>