<div class="page_load_status">
    <div class="loader infinite-scroll-request">
        <%= image_tag "loader.svg" %>
    </div>
    <!--
    <p class="infinite-scroll-last">End of content</p>
    <p class="infinite-scroll-error">No more pages to load</p>
    -->
</div>