<%
    if current_page?("/p/#{@post.id}")
        if @post.comment.present?
            set_meta_tags title: @post.title, description: @post.comment
        else
            set_meta_tags title: @post.title
        end
    end
%>

<section class="post">

    <div class="panel p_show">

        <div class="pl_head">
        </div>

        <% post = @post %>

        <%= render partial: 'posts/activity', locals: { post: post, p_cmt: @p_cmt} %>

    </div>

</section>