<section class="post">

    <div class="panel p_show">

        <div class="pl_head">
        </div>

        <% post = @post %>

        <%= render partial: 'posts/activity', locals: { post: post, p_cmt: @p_cmt} %>

    </div>

</section>