*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

article>*+* {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.clearfix:before {
    content: "";
    display: block;
    clear: both;
}

.clearfix {
    display: block;
}

$base-color: #ffffff;
$base-color2:#f5f5f5;
$main-color: #000000;
//$accent-color: #ff533d;
$accent-color: #dc2032;
$sub-color: #adadad;
$sub-color2: #eaeaea;
$sub-color3: #f9f9f9;
$attention-color: #ca0000;
$wrap: 955px;
$main-wrap: 630px;
$sp: 630px;

@mixin wrap() {
    width: 100%;
    padding: 0 25px;

    @include sp {
        padding: 0 14px;
    }
}

@mixin bg_grd() {
    background-color: #eaeaea;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, $base-color), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, $base-color), color-stop(.75, $base-color), color-stop(.75, transparent), to(transparent));
    -webkit-background-size: 4px 4px;
}

@mixin yt_wrap() {
    position: relative;
    width: 100%;
    padding-top: 56.25%;

    iframe {
        position: absolute;
        top: 0;
        right: 0;
        width: 100% !important;
        height: 100% !important;
    }
}

.yt_wrap {
    @include yt_wrap();
}

@mixin btn() {
    display: inline-block;
    color: $base-color;
    background-color: $accent-color;
    line-height: 1em;
    padding: 0.92em 1.54em 0.92em 2.69em;
    border-radius: 0.39em;
    transition: all .2s;

    &:hover {

        color: $accent-color;
        background-color: $base-color;

    }
}

@mixin btn_line() {
    display: inline-block;
    color: $accent-color;
    background-color: $base-color;
    line-height: 1em;
    padding: 0.92em 1.54em 0.92em 2.69em;
    border-radius: 0.39em;
    border: 1px solid $accent-color;
    transition: all .2s;

    &:hover {
        color: $base-color;
        background-color: $accent-color;
    }
}

@mixin btn_follow() {
    .follow_btn {
        display: block;
        width: 100%;
        height: 2.7em;
        text-align: center;
        padding: 0.92em;
        border-radius: 0.39em;
        line-height: 2.54em;
        overflow: hidden;
        border: solid 1px $accent-color;

        &.follow,
        &.unfollow,
        &.setting {
            position: relative;

            &:before {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                transition: all .3s;
            }
        }

        &.follow {

            &:before {
                content: 'Follow? ;-)';
                color: $accent-color;
            }

            &:hover:before {
                content: 'Follow? :D';
                background-color: $accent-color;
                color: $base-color;
            }
        }

        &.unfollow {

            &:before {
                content: 'Following :-)';
                color: $base-color;
                background-color: $accent-color;
            }

            &:hover:before {
                content: 'Unfollow? :‑(';
                background-color: $attention-color;
                border: solid 1px $attention-color;
            }
        }

        &.setting {

            &:before {
                content: 'Setting';
                color: $accent-color;
            }

            &:hover:before {
                content: 'Setting';
                background-color: $accent-color;
                color: $base-color;
            }
        }
    }

}

@mixin f_l_user() {
    ul {
        width: 100%;
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            padding: 1.1em 0;

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
            }

            a {
                color: $main-color;

                >span {

                    &:nth-child(1) {
                        display: inline-block;
                        vertical-align: top;
                        width: 50px;
                        height: 50px;
                        border-radius: 100%;
                        overflow: hidden;

                        @include sp {
                            width: 42px;
                            height: 42px;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                }

                div {
                    display: inline-block;
                    vertical-align: top;
                    padding: 0 0 0 0.75em;
                    max-width: calc(100% - 54px);

                    @include sp {
                        max-width: calc(100% - 46px);
                    }

                    >span {

                        &:nth-child(1) {
                            line-height: 1em;
                            font-size: 1.1em;
                        }

                        &:nth-child(2) {
                            display: inline-block;
                            width: 100%;
                            font-size: 0.92em;
                            color: $sub-color;
                            line-height: 1em;
                        }

                        &:nth-child(3) {
                            display: inline-block;
                            width: 100%;
                            line-height: 1.6em;
                            font-size: 1em;
                            margin-top: 0.15em;
                        }
                    }
                }
            }
        }
    }
}

@mixin tab {
    @media (max-width: ($wrap)) {
        @content;
    }
}

@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}