// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "config";

html,
body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    color: $main-color;
    background-color: $base-color2;
    position: relative;
    height: 100%;
    font-size: 14px;
}

body.nav--opened {
    touch-action: none !important;
    pointer-events: none !important;
    height: 100% !important;
    overflow: hidden !important;
}

body.nav--opened header {
    touch-action: auto !important;
    pointer-events: visible !important;
}

.container {
    width: 100%;
    max-width: $main-wrap;
    margin: 0 auto;
    background-color: $base-color;
    min-height: 100%;


    header {
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        z-index: 999;
        max-width: $main-wrap;

        nav {
            width: 100%;
            height: auto;
            background-color: $base-color;
            border-bottom: 1px solid $main-color;

            a.nav_logo {
                display: block;
                width: 140px;
                height: auto;
                padding: 15px 20px;
            }

            a.nav_btn_trriger {
                display: inline-block;
                transition: all .3s;
                box-sizing: border-box;
                position: absolute;
                right: 20px;
                top: 20px;
                width: 30px;
                height: 23px;

                span {
                    display: inline-block;
                    transition: all .3s;
                    box-sizing: border-box;
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background-color: $main-color;
                }

                span:nth-of-type(1) {
                    top: 0;
                }

                span:nth-of-type(2) {
                    top: 10px;
                }

                span:nth-of-type(3) {
                    bottom: 0;
                }

                &.active span:nth-of-type(1) {
                    -webkit-transform: translateY(10px) rotate(-315deg);
                    transform: translateY(10px) rotate(-315deg);
                }

                &.active span:nth-of-type(2) {
                    opacity: 0;
                }

                &.active span:nth-of-type(3) {
                    -webkit-transform: translateY(-10px) rotate(315deg);
                    transform: translateY(-10px) rotate(315deg);
                }

            }

            a.btn_search {
                position: absolute;
                right: 68px;
                top: 20px;
                width: 23px;
                height: 23px;

                &:before {
                    font-family: "Font Awesome 5 Free";
                    content: '\f002';
                    font-weight: 900;
                    color: $main-color;
                    font-size: 24px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    line-height: 100%;
                }
            }

            .nav_content {
                -webkit-overflow-scrolling: touch;
                position: fixed;
                width: 100%;
                height: calc(100% - 1px);
                padding: 30px 0;
                box-sizing: border-box;
                background-color: $base-color;
                overflow-y: auto;
                max-width: $main-wrap;
                margin-top: 1px;

                a {
                    display: inline-block;
                    width: 100%;
                    position: relative;
                    color: $main-color;
                    font-size: 14px;
                    line-height: 100%;
                    padding: 15px 45px;
                    letter-spacing: .3px;

                    &:before {
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        color: $main-color;
                        font-size: 14px;
                        position: absolute;
                        top: 16px;
                        left: 20px;
                        line-height: 100%;
                    }

                    &.nav_peaple:before {
                        content: '\f007';
                    }

                    &.nav_setting:before {
                        content: '\f4fe';
                    }

                    &.nav_act:before {
                        content: '\f001';
                    }

                    &.nav_msg:before {
                        content: '\f075';
                    }

                    &.nav_edit:before {
                        content: '\f044';
                    }

                    &.nav_friend:before {
                        content: '\f500';
                    }

                    &.nav_signout:before {
                        content: '\f2f5';
                    }

                    &.nav_signup:before {
                        content: '\f234';
                    }

                    &.nav_signin:before {
                        content: '\f2f6';
                    }

                    &.nav_contact:before {
                        content: '\f0e0';
                    }

                    &.nav_destroy:before {
                        content: '\f4fa';
                    }

                    &:hover {
                        background-color: $base-color2;
                    }
                }


            }

        }



    }

    p.notice,
    p.alert {
        display: block;
        width: 100%;
        text-align: center;
        background-color: $accent-color;
        color: $base-color;
        line-height: 100%;
        font-weight: 300;
        font-size: 15px;
        padding: 10px 0;
        letter-spacing: 0.5px;
    }

    .form_head {
        @include wrap();
        margin-bottom: 35px;

        h2 {
            font-weight: 500;
            font-size: 20px;
            line-height: 100%;
            padding-bottom: 15px;
            border-bottom: 1px solid $main-color;
        }
    }

    form {
        @include wrap();

        p.s_ttl {
            margin: 0 0 15px 0;
        }

        .field {
            margin-bottom: 30px;

            label {
                line-height: 100%;
                padding: 0 3px;
                margin: 0 0 15px 0;
                display: inline-block;
            }

            .year {
                width: 70px;
                margin: 0 10px 4px 0;
            }

            .fields {
                margin-bottom: 15px;
                position: relative;

                a.remove_nested_fields {
                    @include btn();
                    padding: 8px 10px;
                    transition: all 0.3s;
                    position: absolute;
                    top: 17px;
                    right: 1px;
                    background-color: $base-color;
                    border: 1px solid $main-color;
                    color: $main-color;

                    &:before {
                        font-family: "Font Awesome 5 free";
                        font-weight: 900;
                        content: '\f2ed';
                        font-size: 12px;
                        line-height: 100%;
                    }

                    &:hover {
                        background-color: $main-color;
                        color: $base-color;
                    }

                }

            }

            a.add_nested_fields {
                @include btn();
                position: relative;
                padding: 10px 20px 10px 37px;
                margin: 0 0 10px 1px;
                transition: all 0.3s;
                background-color: $base-color;
                border: 1px solid $accent-color;
                color: $accent-color;

                &:before {
                    font-family: "Font Awesome 5 free";
                    font-weight: 900;
                    content: '\f055';
                    font-size: 14px;
                    line-height: 100%;
                    padding: 7px;
                    width: 25px;
                    height: 25px;
                    position: absolute;
                    left: 13px;
                    top: 4px;
                }

                &:hover {
                    background-color: $accent-color;
                    color: $base-color;
                }
            }

            input,
            textarea {
                border: 1px solid $base-color;
                transition: all 0.3s;
                width: 100%;
                box-sizing: border-box;
                outline: 0;
                font-size: 14px;
                padding: 12px 16px;
                line-height: 180%;
                letter-spacing: .5px;
                @include bg_grd();
            }

            input:focus,
            textarea:focus {
                border: 1px solid $accent-color;
            }

            textarea {
                resize: vertical;
                min-height: 110px;
            }

            #ytid_confirm_now,
            #ytid_confirm {
                width: calc(100% - 2px);
                margin: 10px 0 0 1px;
                @include yt_wrap();
            }

            #ytid_confirm {
                display: none;
            }

            #yt_error {
                color: $accent-color;
                margin-top: 10px;
            }

            input[type=checkbox] {
                color: $main-color;
                width: auto;
                margin: 0;
            }

            label.remember_me {
                display: inline;
                padding: 0;
            }

            span {
                display: inline-block;
                font-size: 12px;
                color: $sub-color;
            }

            .pr_img {
                width: 150px;
                height: 150px;
                overflow: hidden;
                border-radius: 100%;
                margin-bottom: 15px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        #error_explanation {
            margin: 0 0 30px 0;
            color: $accent-color;

            h2 {
                font-size: 15px;
                font-weight: 500;

            }

            ul {
                padding: 0;
                list-style: none;
                margin: 10px 0 0 0;

                li {
                    line-height: 100%;
                    padding: 5px 0;

                }
            }

        }

        .down_btn {
            cursor: pointer;
            line-height: 100%;
            padding: 15px;
            display: table;
            font-size: 13px;
            letter-spacing: .5px;
            border-radius: 5px;
            border: 1px solid $main-color;
            margin: 0 0 30px 1px;
            transition: all 0.3s;

            &:hover {
                background-color: $main-color;
                color: $base-color;
            }
        }

        .down_content {
            display: none;

            .field {
                &:last-child {
                    padding-bottom: 30px;
                    border-bottom: 1px solid $main-color;
                }
            }

        }

        [type="submit"] {
            width: 100%;
            background: $accent-color;
            border-radius: 5px;
            border: 0;
            cursor: pointer;
            color: $base-color;
            transition: all 0.3s;
            padding: 12px 0;
            margin-bottom: 30px;
            border: 1px solid $base-color;
        }

        [type="submit"]:hover {
            border: 1px solid $accent-color;
            background-color: $base-color;
            color: $accent-color;
        }

        a.delete {
            display: inline-block;
            border: 1px solid $attention-color;
            color: $attention-color;
            line-height: 100%;
            padding: 8px 12px;
            border-radius: 5px;
            margin-bottom: 15px;
        }

    }

    .bottom_link {
        @include wrap();

        a {
            display: block;
            transition: all 0.3s;
            line-height: 100%;
            padding: 8px 3px;
            font-size: 12px;
            text-decoration: underline;
            color: $sub-color;

            &:hover {
                color: $accent-color;
            }
        }
    }

    main {

        position: relative;
        width: 100%;
        margin: 63px 0 0 0;
        padding: 52px 0;

    }

}