// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "config";

html,
body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    color: $main-color;
    background-color: $base-color2;
    position: relative;
    height: 100%;
    font-size: 13px;
    line-height: 1.7em !important;
    letter-spacing: .03em !important;
    word-break: break-all;
    @include bg_grd();

    @include sp {
        font-size: 13px;
    }

    &.mordal_open {
        touch-action: none !important;
        pointer-events: none !important;
    }

    .mfp-wrap {
        touch-action: auto !important;
        pointer-events: visible !important;
    }

}

a {
    text-decoration: none;
    color: $main-color;

    &:visited {
        color: $main-color;
    }
}

body.nav--opened {
    touch-action: none !important;
    pointer-events: none !important;
    height: 100% !important;
    overflow: hidden !important;
}

body.nav--opened header {
    touch-action: auto !important;
    pointer-events: visible !important;
}

.container {
    width: 100%;
    max-width: $wrap;
    margin: 0 auto;
    min-height: 100%;
    background-color: $base-color;
    position: relative;

    @include tab {
        max-width: $main-wrap;
    }

    header {
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        z-index: 999;
        max-width: $wrap;

        @include tab {
            max-width: $main-wrap;
        }

        nav {
            width: 100%;
            height: auto;
            background-color: $base-color;
            border-bottom: 1px solid $sub-color2;

            a.nav_logo {
                display: block;
                width: 166px;
                height: auto;
                padding: 15px 20px;
                float: left;

                @include sp {
                    width: 139px;
                    padding: 10px 17px;
                }
            }

            .nav_btn_wrapper {
                float: right;

                a.nav_btn_trriger {
                    display: inline-block;
                    -webkit-transition: -webkit-transform 0.2s;
                    transition: all .2s;
                    box-sizing: border-box;
                    position: relative;
                    margin: 20px 25px 0 0;
                    width: 30px;
                    height: 23px;

                    @include sp {
                        margin: 14px 24px 0 0;
                        width: 24px;
                        height: 18px;
                    }

                    span {
                        display: inline-block;
                        -webkit-transition: -webkit-transform 0.2s;
                        transition: all .2s;
                        box-sizing: border-box;
                        position: absolute;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background-color: $main-color;

                        @include sp {
                            height: 2px;
                        }
                    }

                    span:nth-of-type(1) {
                        top: 0;
                    }

                    span:nth-of-type(2) {
                        top: 10px;

                        @include sp {
                            top: 8px;
                        }
                    }

                    span:nth-of-type(3) {
                        bottom: 0;
                    }

                    &.active span:nth-of-type(1) {
                        -webkit-transform: translateY(10px) rotate(-315deg);
                        transform: translateY(10px) rotate(-315deg);

                        @include sp {
                            -webkit-transform: translateY(8px) rotate(-315deg);
                            transform: translateY(8px) rotate(-315deg);
                        }
                    }

                    &.active span:nth-of-type(2) {
                        opacity: 0;
                    }

                    &.active span:nth-of-type(3) {
                        -webkit-transform: translateY(-10px) rotate(315deg);
                        transform: translateY(-10px) rotate(315deg);

                        @include sp {
                            -webkit-transform: translateY(-8px) rotate(315deg);
                            transform: translateY(-8px) rotate(315deg);
                        }
                    }
                }
            }

            a.nav_btn {
                display: block;
                position: relative;
                float: left;
                margin: 20px 20px 0 0;
                width: 23px;
                height: 23px;


                @include sp {
                    display: none;
                }

                &:before {
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    font-size: 1.85rem;
                    position: absolute;
                    top: 0;
                    left: 0;
                    line-height: 1em;
                }

                &.prf {
                    display: inline-block;
                    width: 34px;
                    height: 34px;
                    border-radius: 100%;
                    overflow: hidden;
                    vertical-align: middle;
                    margin: 13px 20px 0 0;

                    @include sp {
                        width: 28px;
                        height: 28px;
                        margin: 9px 25px 0 0;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                &.search {
                    -webkit-transition: -webkit-transform 0.2s;
                    transition: all .2s;

                    &:before {
                        content: '\f002';
                    }

                    &.active:before {
                        content: '\f057';

                    }
                }

                &.head_nav_signin,
                &.head_nav_signup {
                    width: 130px;
                    font-size: 1rem;
                    line-height: 100%;
                    border-radius: 0.4em;
                    padding: 9px 0;
                    margin: 15px 13px 0 0;
                    height: 33px;
                    text-align: center;

                    @include sp {
                        display: none;
                    }
                }

                &.head_nav_signin {
                    background-color: $accent-color;
                    border: 1px solid $accent-color;
                    color: $base-color;
                }

                &.head_nav_signup {
                    background-color: $base-color;
                    border: 1px solid $accent-color;
                    color: $accent-color;
                }
            }

            .nav_content {
                display: none;
                -webkit-overflow-scrolling: touch;
                position: fixed;
                width: 100%;
                height: calc(100% - 1px);
                padding: 30px 0;
                box-sizing: border-box;
                background-color: $base-color;
                overflow-y: auto;
                max-width: $wrap;
                margin-top: 64px;

                @include tab {
                    max-width: $main-wrap;
                }

                @include sp {
                    margin: 48px 0 0 0;
                }

                >a {
                    display: inline-block;
                    width: 100%;
                    position: relative;
                    line-height: 1em;
                    padding: 1.25em 3.5em;
                    font-size: 1.05em;

                    @include sp {
                        font-size: 1.1em;
                        padding: 1.3em 3.5em;
                    }

                    &:before {
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        position: absolute;
                        top: 1.35em;
                        left: 1.6em;
                        line-height: 1em;
                    }

                    &.nav_setting:before {
                        content: '\f4fe';
                    }

                    &.nav_act:before {
                        content: '\f001';
                    }

                    &.nav_msg:before {
                        content: '\f075';
                    }

                    &.nav_home:before {
                        content: '\f015';
                    }

                    &.nav_signout:before {
                        content: '\f2f5';
                    }

                    &.nav_signup:before {
                        content: '\f234';
                    }

                    &.nav_signin:before {
                        content: '\f2f6';
                    }

                    &:hover {
                        background-color: $base-color2;
                    }
                }

                .sub_nav {
                    @include wrap();
                    margin-top: 2rem;

                    a {
                        color: $sub-color;
                        font-size: 0.85rem;
                        display: block;
                        float: left;
                        clear: both;
                        margin: 0 0 1em 0;
                        line-height: 100%;

                        @include sp {
                            font-size: 1.1rem;
                            margin: 0 0 1.2em 0;
                        }
                    }
                }
            }

            .search_content {
                display: none;
                -webkit-overflow-scrolling: touch;
                position: fixed;
                width: 100%;
                height: calc(100% - 1px);
                padding: 30px 0;
                box-sizing: border-box;
                background-color: $base-color;
                overflow-y: auto;
                max-width: $wrap;
                margin-top: 64px;

                @include tab {
                    max-width: $main-wrap;
                }

                @include sp {
                    margin-top: 48px;
                }

                ul.search_tab_group {
                    width: calc(100% - 50px);
                    margin: 10px auto 0;
                    display: flex;
                    justify-content: center;
                    background-color: $base-color;
                    border-bottom: 1px solid $sub-color2;

                    @include sp {
                        width: calc(100% - 28px);
                    }

                    li.tab {
                        flex-grow: 1;
                        padding: 12px 0;
                        list-style: none;
                        text-align: center;
                        cursor: pointer;
                        border-bottom: 2px solid $base-color;

                        &.is_active {
                            -webkit-transition: -webkit-transform 0.2s;
                            transition: all 0.3s;
                            position: relative;
                            border-bottom: 2px solid $main-color;
                            pointer-events: none;
                        }
                    }
                }

                .search_panel_group {

                    .panel {
                        display: none;

                        &.is_show {
                            display: block;
                        }

                        .head_search_wrapper {
                            max-width: 300px;
                            width: 100%;
                            margin: 3.85em auto 0;

                            .head_search {
                                position: relative;
                                padding: 0;
                                display: flex;

                                input[type="text"] {
                                    border: 1px solid $sub-color2;
                                    -webkit-transition: -webkit-transform 0.2s;
                                    transition: all .2s;
                                    width: 100%;
                                    box-sizing: border-box;
                                    outline: 0;
                                    padding: 12px 16px;
                                    line-height: 1.84em;
                                    height: 3.69em;
                                    background-color: $sub-color3;
                                }

                                input:focus {
                                    border: 1px solid $accent-color;
                                    line-height: 1.69em;
                                }

                                label {

                                    input[type="submit"] {
                                        display: none;
                                    }

                                    i {
                                        display: inline-block;
                                        background-color: $accent-color;
                                        color: $base-color;
                                        font-size: 1.53rem;
                                        text-align: center;
                                        line-height: 2.4em;
                                        width: 2.4em;
                                        height: 2.4em;
                                        cursor: pointer;
                                        -webkit-transition: -webkit-transform 0.2s;
                                        transition: all .2s;
                                        border: 1px solid $accent-color;

                                        &:hover {
                                            background-color: $base-color;
                                            color: $accent-color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                a.search_btn_random {
                    @include btn_line ();
                    padding: 12px 20px;
                    margin: 30px auto 0;
                    display: block;
                    width: 100%;
                    max-width: 298px;
                    text-align: center;
                }
            }

            #fixed_nav {
                position: fixed;
                right: 20px;
                bottom: 20px;

                @include sp {
                    display: none;
                }

                .fixed_nav_btn {
                    background-color: $accent-color;
                    width: 56px;
                    height: 56px;
                    border-radius: 100%;
                    -webkit-transition: -webkit-transform 0.2s;
                    transition: all .2s;
                    cursor: pointer;
                    position: relative;
                    z-index: 9;

                    span {
                        position: absolute;
                        background-color: $base-color;
                        z-index: 9;
                    }

                    span:nth-child(1) {

                        width: 24px;
                        height: 2px;
                        left: 16px;
                        top: 27px;

                    }

                    span:nth-child(2) {
                        width: 2px;
                        height: 24px;
                        left: 27px;
                        top: 16px;
                    }

                    &:after {
                        content: "";
                        width: 100%;
                        height: 100%;
                        border: solid 2px $accent-color;
                        background-color: $accent-color;
                        transform: scale(0.8);
                        position: absolute;
                        border-radius: 100%;
                        -webkit-transition: -webkit-transform 0.2s;
                        transition: all 0.2s;
                    }

                    &:hover,
                    &.active {
                        transform: rotate(90deg);
                        background-color: transparent;

                        span {
                            background-color: $accent-color;
                        }

                        &:after {
                            transform: scale(1);
                            background-color: $base-color;
                        }

                    }

                    &.active {
                        transform: rotate(135deg);

                        &:hover {
                            transform: rotate(225deg);
                        }
                    }
                }

                .fixed_nav_content {

                    a {
                        display: none;
                        opacity: 0;
                        width: 56px;
                        height: 56px;
                        background-color: $accent-color;
                        color: $base-color;
                        border-radius: 100%;
                        position: absolute;
                        right: 0;
                        bottom: 0;

                        i {
                            font-size: 18px;
                            position: absolute;
                            top: 18px;
                            right: 20px;
                        }

                    }
                }
            }

            #sp_nav {
                display: none;

                @include sp {
                    display: flex;
                    position: fixed;
                    left: 0;
                    bottom: 0;
                    background-color: $base-color;
                    border-top: 1px solid $sub-color2;
                    height: 45px;
                    width: 100%;
                    z-index: 99;

                    a,
                    >span {
                        display: inline-block;
                        width: calc(100% / 5);
                        height: 45px;
                        padding: 10px 0;
                        box-sizing: border-box;
                        text-align: center;
                        font-size: 25px;

                        &.sp_nav_signin,
                        &.sp_nav_signup {
                            width: calc(50% - 15px);
                            font-size: 1rem;
                            line-height: 100%;
                            border-radius: 0.4em;
                            padding: 9px 0;
                            margin: 5px 0 0 12px;
                            height: 34px;
                        }

                        &.sp_nav_signin {
                            background-color: $accent-color;
                            border: 1px solid $accent-color;
                            color: $base-color;
                        }

                        &.sp_nav_signup {
                            background-color: $base-color;
                            border: 1px solid $accent-color;
                            color: $accent-color;
                        }
                    }
                }
            }

        }

    }

    p.notice,
    p.alert {
        display: none;
        width: 100%;
        text-align: center;
        background-color: $accent-color;
        color: $base-color;
        line-height: 1em;
        padding: 0.77em 0;
    }

    .wrapper {

        display: flex;

        .form_head {
            @include wrap();
            margin: 0 0 2em;

            h2 {
                font-weight: 400;
                font-size: 1.2rem;
                line-height: 1em;
                padding: 0.5em 0 0.8em;
                border-bottom: 1px solid $main-color;
            }
        }

        form {
            @include wrap();

            p.s_ttl {
                font-size: 0.85em;
                margin: 0 0 1.15em 0;
            }

            .field {
                margin-bottom: 1.3em;

                label {
                    margin: 0 0 0.7em 0;
                    font-size: 0.85em;
                    line-height: 1em;
                    padding: 0 0.23em;
                    display: inline-block;
                }

                .year {
                    width: 70px;
                    margin: 0 0.77em 0.3em 0;
                }

                .fields {
                    margin-bottom: 1.15em;
                    position: relative;

                    a.remove_nested_fields {
                        @include btn();
                        padding: 0.62em 0.77em;
                        -webkit-transition: -webkit-transform 0.2s;
                        transition: all .2s;
                        position: absolute;
                        top: 0.9em;
                        right: 0.077em;
                        background-color: $base-color;
                        border: 1px solid $main-color;
                        color: $main-color;

                        &:before {
                            font-family: "Font Awesome 5 free";
                            font-weight: 900;
                            content: '\f2ed';
                            font-size: 0.92rem;
                            line-height: 1em;
                        }

                        &:hover {
                            background-color: $main-color;
                            color: $base-color;
                        }

                    }

                }

                a.add_nested_fields {
                    @include btn();
                    position: relative;
                    padding: 0.77em 1.54em 0.77em 2.85em;
                    margin: 0 0 0.77em 0.077em;
                    -webkit-transition: -webkit-transform 0.2s;
                    transition: all .2s;
                    background-color: $base-color;
                    border: 1px solid $accent-color;
                    color: $accent-color;

                    &:before {
                        font-family: "Font Awesome 5 free";
                        font-weight: 900;
                        content: '\f055';
                        line-height: 1em;
                        padding: 0.54em;
                        width: 25px;
                        height: 25px;
                        position: absolute;
                        left: 1em;
                        top: 0.3em;
                    }

                    &:hover {
                        background-color: $accent-color;
                        color: $base-color;
                    }
                }

                input,
                textarea {
                    border: 1px solid $sub-color2;
                    -webkit-transition: -webkit-transform 0.2s;
                    transition: all .2s;
                    width: 100%;
                    box-sizing: border-box;
                    outline: 0;
                    padding: 1em;
                    line-height: 1.2em;
                    background-color: $sub-color3;
                    border-radius: 0.5em;

                    &:hover,
                    &:focus {
                        border: 1px solid $accent-color;
                    }

                    &#ytid {
                        width: 65%;
                        display: block;
                    }
                }

                input {
                    &.form_underline {
                        @include form_underline();
                    }
                }

                textarea {
                    &.auto_height {
                        @include auto_height();
                        @include form_underline();
                    }
                }

                input:focus,
                textarea:focus {
                    border: 1px solid $accent-color;
                }

                #ytid_confirm_now,
                #ytid_confirm {
                    width: calc(100% - 2px);
                    margin: 0.77em 0 0 0.077em;
                    @include yt_wrap();
                }

                #ytid_confirm {
                    display: none;
                }

                #yt_error {
                    color: $accent-color;
                    margin-top: 0.77em;
                }

                input[type=checkbox] {
                    width: auto;
                    margin: 0;
                }

                span {
                    display: inline-block;
                    font-size: 0.8rem;
                    color: $sub-color;
                }

            }

            .field_img {
                margin-bottom: 1.30em;

                p {
                    margin-bottom: 1.15em;
                }

                label.img_select {
                    padding: 0.6em 1.4em;
                    border-radius: 0.31em;
                    cursor: pointer;
                    display: inline-block;
                    border: 1px solid $main-color;
                    margin-left: 1px;

                    input[type="file"] {
                        display: none;
                    }

                    i {
                        margin-right: 0.23em;
                    }
                }

                span.file {
                    margin: 0 0 0 0.39em;
                }

                .img_wrap_confirm {
                    margin: 0 0 0.77em 0.077em;
                }

                .pr_img {
                    width: 140px;
                    height: 140px;
                    overflow: hidden;
                    border-radius: 100%;
                    margin: 0 0 1.15em 0;

                    @include sp {
                        width: 27vw;
                        height: 27vw;
                        max-width: 100px;
                        max-height: 100px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .hdr_img {
                    width: 100%;
                    height: 150px;
                    overflow: hidden;
                    margin: 0 0 1.15em 0;

                    @include sp {
                        height: 24vw;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

            }

            label.check {
                display: inline-block;
                position: relative;
                padding: 0.15em 0 0 1.7em;
                margin: 0.77em 0 0 0.077em;
                cursor: pointer;
                font-size: 0.92rem;
                color: $sub-color;
                line-height: 100%;

                input {
                    position: absolute;
                    z-index: -1;
                    opacity: 0;

                    &:checked~.indicator {
                        background: $accent-color;
                    }

                    &:checked~.indicator:after {
                        display: block;
                    }
                }

                .indicator {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 16px;
                    width: 16px;
                    border-radius: 0.3em;
                    background: $sub-color2;

                    &:after {
                        content: '';
                        position: absolute;
                        display: none;
                    }
                }

                .indicator:after {
                    left: 0.63em;
                    top: 0.35em;
                    width: 0.23em;
                    height: 0.62em;
                    border: solid $base-color;
                    border-width: 0 1px 1px 0;
                    transform: rotate(45deg);
                }
            }


            #error_explanation {
                margin: 0 0 2.3em 0;
                color: $accent-color;

                h2 {
                    font-size: 1.15rem;
                    font-weight: 500;

                }

                ul {
                    padding: 0;
                    list-style: none;
                    margin: 0.77em 0 0 0;

                    li {
                        line-height: 1.4em;
                        padding: 0.39em 0;

                    }
                }

            }

            .down_btn {
                cursor: pointer;
                line-height: 1em;
                padding: 1.15em;
                display: table;
                border-radius: 0.39em;
                border: 1px solid $main-color;
                margin: 0 0 1.3em;
                -webkit-transition: -webkit-transform 0.2s;
                transition: all .2s;

                &:hover {
                    background-color: $main-color;
                    color: $base-color;
                }

                i {
                    font-size: 0.77rem;
                    margin-left: 0.39em;
                }
            }

            .down_content {
                display: none;

                .field {
                    &:last-child {
                        padding-bottom: 1.3em;
                        border-bottom: 1px solid $sub-color2;
                    }
                }

            }

            [type="submit"] {
                width: 100%;
                background: $accent-color;
                border-radius: 0.39em;
                border: 0;
                cursor: pointer;
                color: $base-color;
                -webkit-transition: -webkit-transform 0.2s;
                transition: all .2s;
                padding: 0.8em 0;
                margin-bottom: 2em;
                border: 1px solid $base-color;
            }

            [type="submit"]:hover {
                border: 1px solid $accent-color;
                background-color: $base-color;
                color: $accent-color;
            }

            a.delete {
                display: inline-block;
                border: 1px solid $attention-color;
                color: $attention-color;
                line-height: 1em;
                padding: 0.62em 0.92em;
                border-radius: 0.39em;
                margin-bottom: 1.15em;
            }

        }

        .bottom_link {
            @include wrap();

            a {
                display: inline-block;
                -webkit-transition: -webkit-transform 0.2s;
                transition: all .2s;
                line-height: 1em;
                padding: 0.62em 0.23em;
                font-size: 0.92rem;
                text-decoration: underline;
                color: $sub-color;
                float: left;
                clear: both;

                &:hover {
                    color: $accent-color;
                }
            }
        }

        main {
            position: relative;
            width: $main-wrap;
            margin: 63px 0 0 0;
            padding: 25px 0;
            background-color: $base-color;

            @include tab {
                width: 100%;
            }

            @include sp {
                margin: 48px 0 0 0;
                padding: 25px 0 70px 0;
            }

        }

        aside {
            width: 325px;
            margin-top: 64px;
            background-color: $base-color;
            border-left: 1px solid $sub-color2;

            @include tab {
                display: none;
            }

            .aside_inner {
                padding: 25px;
                box-sizing: border-box;
                width: 100%;

                &.side_fixed {
                    width: 325px;
                    position: fixed;
                    bottom: 0;
                }

                &.side_fixed_top {
                    width: 325px;
                    position: fixed;
                    top: 64px;
                }

                .rank_post_container {

                    h3 {
                        font-weight: 400;
                        color: $sub-color;
                        font-size: 1.2rem;
                        margin-bottom: 1em;
                    }

                    .rank_post_wrapper {

                        a.rank_post_item {
                            width: 100%;
                            padding: 1.83em 0;
                            border-bottom: 1px solid $sub-color2;

                            &:first-child {
                                border-top: 1px solid $sub-color2;
                            }

                            &:hover {

                                p.rank_title {
                                    color: $accent-color;
                                }

                            }

                            p.rank_title {
                                display: inline-block;
                                vertical-align: middle;
                                line-height: 1.5em;
                                margin-bottom: 0.77em;
                                -webkit-transition: -webkit-transform 0.2s;
                                transition: all .2s;

                                i {
                                    font-size: 1.23rem;
                                    color: $accent-color;
                                }

                                span.rank_count {
                                    display: inline-block;
                                    color: $accent-color;
                                    font-size: 1.23rem;
                                    margin: 0 0.3em 0 0;
                                    font-weight: 400;
                                }
                            }
                        }

                        p.rank_img {
                            width: 100%;
                            height: 154px;
                            overflow: hidden;
                            margin-bottom: 0.77em;
                            border-radius: 0.39em;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        p.rank_yt {
                            margin-bottom: 0.77em;
                            width: 100%;
                            height: 154px;
                            position: relative;
                            border-radius: 0.39em;
                            overflow: hidden;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }

                            svg {
                                position: absolute;
                                top: calc(50% - 24px);
                                left: calc(50% - 34px);
                                width: 5.23em;
                                height: 3.7em;
                            }
                        }

                        p.rank_user {
                            display: flex;

                            span.rank_userimg {
                                width: 25px;
                                height: 25px;
                                border-radius: 100%;
                                overflow: hidden;
                                display: inline-block;
                                vertical-align: middle;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    display: inline-block;
                                    vertical-align: middle;
                                }
                            }

                            span.rank_username {
                                font-size: 0.92rem;
                                width: calc(100% - 25px);
                                padding-left: 0.6em;
                                line-height: 1.4em;

                                span {
                                    color: $sub-color;
                                    font-size: 0.85em;
                                    display: block;
                                }
                            }

                        }
                    }

                }
            }

            footer {
                padding: 0.77em 0;

                a {
                    color: $sub-color;
                    margin: 0 0.85em 0.85em 0;
                    font-size: 0.85rem;
                    line-height: 1em;
                    float: left;
                }

                p {
                    color: $sub-color;
                    font-size: 0.85rem;
                    line-height: 1em;
                }
            }
        }
    }
}

.loader {
    display: none;
    width: 40px;
    margin: 30px auto;
}