// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "posts";

section.search {

    .f_l_user_list {
        @include wrap();
        @include f_l_user ();

        &.posts_l {
            padding: 0;

            .pl_head {
                @include wrap();
                padding-top: 0.5em;
                padding-bottom: 0.8em;

                @include sp {
                    padding-top: 0.5em;
                    padding-bottom: 0.8em;
                }
            }
        }

        .pl_head {
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 1em;
            padding: 0.5em 0 0.8em;
            border-bottom: 1px solid $main-color;
            margin: 0 0 1.2em !important;
        }

        p.sttl {
            color: $sub-color;
            line-height: 1em;
            font-size: 0.9rem;
            margin-top: 0.7em;
        }
    }

    p.undefinde {
        @include wrap();
        color: $sub-color;
        font-size: 1rem;

        a {
            color: $accent-color;
            text-decoration: underline;
        }
    }

    .ac_content {
        @include ac_content();
        border-bottom: 1px solid $sub-color2;
    }

}