// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "users";

section.search {

    .f_l_user_list {
        @include wrap();
        @include f_l_user ();

        .pl_head {
            margin: 0 0 25px 0 !important;
        }

        p.ttl {
            display: block;
            letter-spacing: .3px;
            font-size: 16px;
        }

        p.sttl {
            display: block;
            letter-spacing: .3px;
            font-weight: 300;
            color: $sub-color;
            line-height: 100%;
            margin-top: 5px;
        }
    }

    .ac_content {
        @include ac_content();
    }

}