// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "config";

section.head {
    @include wrap();
    display: inline-block;

    .head_l {
        display: inline-block;
        width: 200px;
        height: auto;
        vertical-align: middle;

        p.head_img {
            width: 100%;
            height: 200px;
            border-radius: 100%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .head_r {
        display: inline-block;
        width: calc(100% - 205px);
        height: auto;
        padding: 0 0 0 25px;
        vertical-align: middle;
        box-sizing: border-box;

        p.head_name {
            font-size: 20px;
            line-height: 150%;
            letter-spacing: .5px;
        }

        p.head_id {
            font-size: 13px;
            padding: 0 2px;
            color: $sub-color;
            line-height: 100%;
            margin: 2px 0 18px 0;
        }

        p.head_message {
            letter-spacing: .2px;
            line-height: 150%;
            padding: 12px;
            position: relative;
            width: 100%;
            @include bg_grd();

            span.none {
                color: $sub-color;
            }

            span.date {
                color: $sub-color;
                font-size: 12px;
                display: block;
                line-height: 100%;
                margin-top: 3px;
            }

            a.head_message_edit {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                color: $main-color;

                &:before {
                    font-family: "Font Awesome 5 free";
                    font-weight: 900;
                    content: '\f044';
                    font-size: 12px;
                    line-height: 100%;
                    padding: 7px;
                    width: 25px;
                    height: 25px;
                    display: block;
                    color: $base-color;
                    background-color: $accent-color;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    z-index: 9;
                }
            }
        }

        .head_sns {
            width: 100%;
            display: inline-block;
            margin: 18px 0 0 0;

            a {
                position: relative;
                width: 22px;
                height: 22px;
                display: inline-block;
                margin-right: 3px;

                &:before {
                    font-family: "Font Awesome 5 Brands";
                    font-weight: 400;
                    color: $main-color;
                    font-size: 22px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    line-height: 100%;
                }

                &.head_snst:before {
                    content: '\f099';
                }

                &.head_snsf:before {
                    content: '\f09a';
                }

                &.head_snsi:before {
                    content: '\f16d';
                }

                &.head_snsl:before {
                    content: '\f3c0';
                }

                &.head_userlink:before {
                    font-family: "Font Awesome 5 free";
                    font-weight: 900;
                    content: '\f0c1';
                    font-size: 19px;
                    top: 1px;
                }
            }
        }

        .follow_wrap {
            margin: 15px 0 0 0;

            a.follow_btn {
                display: block;
                width: 100%;
                height: 40px;
                text-align: center;
                padding: 12px;
                border-radius: 5px;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: .5px;
                overflow: hidden;
                border: solid 1px $accent-color;

                &.follow,
                &.unfollow {
                    position: relative;

                    &:before {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        line-height: 38px;
                        transition: all .3s;
                    }
                }

                &.follow {

                    &:before {

                        content: 'Follow';
                        color: $accent-color;
                    }

                    &:hover:before {

                        background-color: $accent-color;
                        color: $base-color;
                    }
                }

                &.unfollow {

                    &:before {

                        content: 'Following';
                        color: $base-color;
                        background-color: $accent-color;
                    }

                    &:hover:before {

                        content: 'Unfollow';
                        background-color: $attention-color;
                        border: solid 1px $attention-color;
                    }
                }
            }
        }
    }

}

section.tab_content_wrap {
    padding: 60px 0 0 0;

    ul.tab-group {
        display: flex;
        justify-content: center;
        background-color: $base-color;
        border-top: 1px solid $main-color;
        border-bottom: 1px solid $main-color;

        &.tab_fixed {
            position: fixed;
            z-index: 99;
            width: 100%;
            top: 63px;
            max-width: $main-wrap;
        }

        li.tab {
            flex-grow: 1;
            padding: 8px 0;
            list-style: none;
            letter-spacing: .3px;
            text-align: center;
            cursor: pointer;
            border-bottom: 3px solid $base-color;

            &.is-active {
                transition: all 0.3s ease-in-out;
                position: relative;
                border-bottom: 3px solid $main-color;
                pointer-events: none;
            }
        }
    }

    .panel-group {
        @include wrap();

        &.pt {
            padding-top: 42px;
            box-sizing: border-box;
        }

        .panel {
            display: none;
            min-height: calc(100vh - 100px);

            .pr_content a,
            .ac_txt a,
            td a {
                font-size: 12px;
                color: $accent-color;
                width: 100%;
                overflow: auto;
                display: inline-block;
            }

            .pl_head {
                margin: 25px 0 0 0;
                display: inline-block;
                width: 100%;
                position: relative;

                p.sttl {
                    display: inline;
                    letter-spacing: .3px;
                    font-weight: 300;
                    color: $sub-color;
                }

                a.pr_edit,
                a.ac_post {
                    position: absolute;
                    right: 0;
                    top: -3px;
                    @include btn();

                    &:before {
                        font-family: "Font Awesome 5 free";
                        font-weight: 900;
                        content: '\f044';
                        font-size: 12px;
                        line-height: 100%;
                        padding: 7px;
                        width: 25px;
                        height: 25px;
                        position: absolute;
                        left: 13px;
                        top: 11px;
                    }
                }

                a.ac_post {

                    &:before {
                        content: '\f0fe';
                    }
                }

            }

            a.pr_post {
                position: relative;
                @include btn();
                position: absolute;
                right: 0;
                top: -3px;

                &:before {
                    font-family: "Font Awesome 5 free";
                    font-weight: 900;
                    content: '\f0fe';
                    font-size: 12px;
                    line-height: 100%;
                    padding: 7px;
                    width: 25px;
                    height: 25px;
                    position: absolute;
                    left: 13px;
                    top: 11px;
                }
            }

            p.pr_ttl {
                font-size: 13px;
                line-height: 100%;
                display: inline-block;
                padding: 5px;
                margin: 25px 0 0 0;
                font-weight: 300;
                background-color: $main-color;
                color: $base-color;
            }

            p.pr_content {
                font-size: 14px;
                padding: 12px 16px;
                line-height: 180%;
                letter-spacing: .5px;
                @include bg_grd();
            }

            .yt_wrap {
                @include yt_wrap();
            }

            table {
                width: 100%;
                line-height: 180%;
                letter-spacing: .5px;
                border-collapse: collapse;
                border-spacing: 0;
                @include bg_grd();

                tr {
                    padding: 0;

                    &:first-child {
                        td {
                            padding-top: 24px;

                            &:nth-child(1):before {
                                display: none;
                            }
                        }

                    }

                    &:last-child {

                        td {
                            padding-bottom: 24px;

                            &:nth-child(1):after {
                                display: none;
                            }
                        }
                    }

                    td {
                        padding: 12px 16px;

                        &:nth-child(1) {
                            width: 1px;
                            position: relative;
                            z-index: 9;

                            &:before {
                                content: "";
                                width: 2px;
                                height: 100%;
                                background-color: $sub-color;
                                position: absolute;
                                left: calc(50% - 1px);
                                bottom: 50%;
                                z-index: -1;
                            }

                            &:after {
                                content: "";
                                width: 2px;
                                height: 100%;
                                background-color: $sub-color;
                                position: absolute;
                                left: calc(50% - 1px);
                                top: 50%;
                                z-index: -1;
                            }

                            span {
                                line-height: 100%;
                                border-radius: 15px;
                                padding: 8px 10px;
                                display: block;
                                background-color: $sub-color;
                                color: $base-color;

                            }
                        }

                        &:nth-child(2) {
                            padding-left: 0;
                        }
                    }
                }
            }

            .ac_content {

                span.date {
                    font-size: 13px;
                    line-height: 100%;
                    display: inline-block;
                    padding: 5px;
                    margin: 25px 0 0 0;
                    font-weight: 300;
                    background-color: $main-color;
                    color: $base-color;
                    letter-spacing: .5px;
                }

                .ac_content_wrap {
                    padding: 12px 16px;
                    @include bg_grd();

                    p.p_user_wrap {
                        width: 100%;
                        margin: 7px 0;

                        a {
                            display: inline-block;
                            width: auto;

                            >span {
                                display: inline-block;
                                vertical-align: middle;
                                line-height: 100%;
                                color: $main-color;
                                font-size: 13px;

                                &.prf_up {
                                    line-height: 130%;
                                }

                                &:nth-child(1) {
                                    width: 34px;
                                    height: 34px;
                                    overflow: hidden;
                                    border-radius: 100%;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }

                                &:nth-child(2) {
                                    margin: 0 0 0 3px;

                                    span {
                                        display: block;
                                        font-size: 12px;
                                        color: $sub-color;
                                        margin: 3px 0 0 2px;
                                    }
                                }


                            }
                        }
                    }

                    .ac_ttl {
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 170%;
                        letter-spacing: .5px;
                        padding: 5px 0 15px 3px;
                        border-bottom: 1px solid $sub-color;
                    }

                    .p_like_box {
                        display: block;
                        width: auto;
                        padding: 17px 4px 8px 4px;
                        border-top: $sub-color solid 1px;

                        .p_like_box_wrap {
                            width: auto;
                            display: inline-block;
                            vertical-align: middle;

                            a {
                                display: inline-block;
                                transition: ease-in-out all .5s;

                                i {
                                    font-size: 18px;
                                    display: inline;
                                    vertical-align: middle;
                                    margin-right: 3px;
                                }


                                &.like {
                                    color: $accent-color;
                                }

                                &.unlike {
                                    color: $sub-color;
                                }

                                span {
                                    font-size: 12px;
                                    display: inline;
                                    vertical-align: middle;
                                    line-height: 100%;
                                }
                            }

                        }

                        .like_user {
                            width: auto;
                            display: inline-block;
                            vertical-align: middle;
                            line-height: 100%;
                            margin-left: 5px;
                            cursor: pointer;


                            span.like_user_in {
                                display: inline-block;
                                width: 24px;
                                height: 24px;
                                overflow: hidden;
                                border-radius: 100%;
                                margin: 2px 0 0 3px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;

                                }
                            }
                        }

                        .m_content {
                            display: none;
                        }

                    }

                    .ac_txt {
                        font-size: 14px;
                        line-height: 180%;
                        letter-spacing: .5px;
                        padding: 17px 4px;

                        &.msg_up {
                            border-top: 1px solid $sub-color;
                            padding: 12px 3px 5px 3px;
                            margin-top: 15px;
                        }
                    }

                    .ac_in_edit {
                        position: relative;
                        border: 1px solid $main-color;
                        border-radius: 5px;
                        line-height: 100%;
                        color: $main-color;
                        display: inline-block;
                        padding: 5px 10px;
                        margin: 0 0 25px;
                    }
                }
            }
        }
    }
}

.modaal-content-container,
.f_l_user_list {

    ul {
        width: 100%;
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            padding: 12px 0;
            border-bottom: 1px solid $sub-color2;

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                border: none;
                padding-bottom: 0;
            }

            a {
                color: $main-color;

                >span {

                    &:nth-child(1) {
                        display: inline-block;
                        vertical-align: top;
                        width: 50px;
                        height: 50px;
                        border-radius: 100%;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                }

                div {
                    display: inline-block;
                    vertical-align: top;
                    padding: 0 0 0 5px;
                    max-width: calc(100% - 54px);

                    >span {

                        &:nth-child(1) {
                            line-height: 100%;
                            font-size: 15px;
                            font-weight: 500;
                        }

                        &:nth-child(2) {
                            display: inline-block;
                            width: 100%;
                            line-height: 170%;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}