// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "posts";

.mfp-content,
.f_l_user_list {
    @include f_l_user ();
}

.mfp-content {
    ul.m_wrap {
        width: $wrap;
        height: auto;
        background-color: $base-color;
        margin: 0 auto;
        padding: 25px;

        @include sp {
            width: 100%;
            padding: 14px;
        }
    }

    .m_close {
        width: 50px;
        height: 50px;
        background-color: $main-color;
        color: $base-color;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        line-height: 50px;
        opacity: 0.8;
        position: fixed;
        right: 0;
        top: 0;
        cursor: pointer;
    }
}

section.user_head {

    .header_img {
        width: 100%;
        height: 150px;
        overflow: hidden;
        margin: -25px 0 0;

        @include sp {
            height: 110px;

        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

section.head {
    @include wrap();
    display: inline-block;
    position: relative;
    padding: 25px;

    &.prf_head {

        @include sp {
            padding: 21px 14px;
        }
    }

    .head_l {
        display: inline-block;
        width: auto;
        height: auto;
        vertical-align: top;
        position: relative;
        z-index: 2;

        p.head_img {
            width: 140px;
            height: 140px;
            border-radius: 100%;
            overflow: hidden;

            @include sp {
                width: 27vw;
                height: 27vw;
                max-width: 100px;
                max-height: 100px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .head_r {
        display: inline-block;
        width: calc(100% - 145px);
        height: auto;
        padding: 0 0 0 22px;
        vertical-align: middle;
        box-sizing: border-box;
        position: relative;
        z-index: 2;

        @include sp {
            padding: 0 0 0 12px;
            width: calc(100% - 105px);
        }

        p.head_name {
            font-size: 1.2rem;
            line-height: 1.4em;

            @include sp {
                display: inline;
            }
        }

        p.head_id {
            color: $sub-color;
            line-height: 1em;
            margin: 0.3em 0 0.8em;

            @include sp {
                display: inline-block;
                margin: 0.4em 0 0.9em 0.3em;
            }
        }

        .head_sns {
            width: 100%;
            display: inline-block;
            margin: 0.5em 0 0 0;

            @include sp {
                margin: 0.3em 0 0 0;
            }

            a {
                position: relative;
                width: 1.5rem;
                height: 1.5rem;
                display: inline-block;
                margin-right: 0.4em;

                @include sp {
                    width: 1.8rem;
                    height: 1.8rem;
                    margin-right: 0.5em;
                }

                &:before {
                    font-family: "Font Awesome 5 Brands";
                    font-weight: 400;
                    font-size: 1.5rem;
                    position: absolute;
                    top: 0;
                    left: 0;
                    line-height: 1em;

                    @include sp {
                        font-size: 1.8rem;
                    }
                }

                &.head_snst:before {
                    content: '\f099';
                }

                &.head_snsf:before {
                    content: '\f09a';
                }

                &.head_snsi:before {
                    content: '\f16d';
                }

                &.head_snsl:before {
                    content: '\f3c0';
                }

                &.head_userlink:before {
                    font-family: "Font Awesome 5 free";
                    font-weight: 900;
                    content: '\f0c1';
                    font-size: 1.35rem;
                    top: 0.045em;

                    @include sp {
                        font-size: 1.5rem;
                    }
                }
            }
        }

        .follow_wrap {
            margin: 1em 0 0 0;
            width: 40%;
            @include btn_follow();

            @include sp {
                margin: 0.5em 0 0 0;
                width: 60%;
            }
        }
    }

    .fa-user-cog {
        font-size: 1.23rem;
        color: $accent-color;
        position: relative;
        z-index: 2;
    }

    .head_message {
        position: relative;
        width: 100%;
        z-index: 2;
        margin-top: 1.4em;

        i {
            color: $accent-color;
        }

        span.none {
            color: $sub-color;
        }

        a.head_message_edit {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

        }
    }

    .prf_count {
        p {
            color: $accent-color;
            font-size: 0.8em;
            line-height: 100%;
            margin: 1.6em 0 0.6em;
        }

        .count_bar {
            width: 100%;
            height: 0.26em;
            border-bottom: 1px solid $accent-color;
            margin: 0 0 0.3em;
            position: relative;

            span {
                transition: all 3s;
                display: block;
                width: 0%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-color: $accent-color;
                z-index: 2;
            }
        }
    }
}

.m_img {}

.m_btn {
    cursor: pointer;
    min-height: 28px;

    @include sp {
        min-height: 31px;
    }
}

.m_content {}

section.tab_content_wrap {

    ul.tab-group {
        display: flex;
        justify-content: center;
        background-color: $base-color;
        border-top: 1px solid $sub-color2;
        border-bottom: 1px solid $sub-color2;

        li {
            flex-grow: 1;
            list-style: none;

            a.tab {
                display: block;
                width: 100%;
                padding: 0.92em 0;
                text-align: center;
                cursor: pointer;
                border-bottom: 2px solid $base-color;

                &.is_active {
                    transition: all 0.3s ease-in-out;
                    position: relative;
                    border-bottom: 2px solid $main-color;
                    pointer-events: none;
                }

                span {
                    display: inline-block;
                    color: $sub-color;
                    font-size: 0.85em;
                    margin-left: 0.3em;
                }
            }
        }
    }

    .panel-group {

        .panel {
            display: none;
            @include wrap();

            &.is_show {
                display: block;
            }

            &.timeline {
                padding: 0;

                .pl_head {
                    @include wrap();

                    a.pr_edit,
                    a.ac_post {
                        right: 25px;

                        @include sp {
                            right: 14px;
                        }
                    }
                }

            }

            &.fl_list {
                padding-top: 25px;

                @include sp {
                    padding-top: 14px;
                }
            }

            .pr_content a,
            .ac_txt a,
            td a {
                font-size: 0.92rem;
                color: $accent-color;
                word-break: break-all;
                display: inline-block;
                line-height: 1.2em;
            }

            .pl_head {
                margin: 25px 0 0 0;
                display: inline-block;
                width: 100%;
                position: relative;

                @include sp {
                    margin: 14px 0 0 0;
                }

                p.sttl {
                    display: inline;
                    color: $sub-color;
                }

                a.pr_edit,
                a.ac_post {
                    position: absolute;
                    right: 0;
                    top: -9px;
                    z-index: 3;
                    @include btn_line();

                    @include sp {
                        top: -4px;
                    }

                    &:before {
                        font-family: "Font Awesome 5 free";
                        font-weight: 900;
                        content: '\f044';
                        font-size: 0.92rem;
                        line-height: 1em;
                        padding: 0.54em;
                        width: 25px;
                        height: 25px;
                        position: absolute;
                        left: 1em;
                        top: 0.5em;
                    }
                }

                a.ac_post {

                    &:before {
                        content: '\f0fe';
                    }
                }

            }

            a.pr_post {
                position: relative;
                @include btn_line();
                position: absolute;
                right: 0;
                top: -0.23em;

                &:before {
                    font-family: "Font Awesome 5 free";
                    font-weight: 900;
                    content: '\f0fe';
                    font-size: 0.92rem;
                    line-height: 1em;
                    padding: 0.54em;
                    width: 25px;
                    height: 25px;
                    position: absolute;
                    left: 1em;
                    top: 0.65em;
                }
            }

            p.pr_ttl {
                line-height: 1em;
                display: inline-block;
                padding: 0.39em;
                margin: 25px 0 0 0;
                font-weight: 300;
                background-color: $main-color;
                color: $base-color;

                @include sp {
                    margin: 15px 0 0 0;
                }
            }

            p.pr_content {
                padding: 0.88em 0.23em 25px;
                border-bottom: 1px solid $sub-color2;

                &.tag_list {
                    padding: 0.88em 0.23em 25px 0;

                    @include sp {
                        padding: 0.92em 0.23em 16px 0;
                    }

                    span {
                        background-color: $sub-color2;
                        padding: 0.25em 0.5em;
                        float: left;
                        margin-right: 0.4em;
                        font-size: 0.95em;
                    }

                }

                @include sp {
                    padding: 0.92em 0.23em 14px;
                }
            }

            .pr_content_his {
                padding: 1.54em 0.3em 1.54em 1.46em;
                width: 100%;

                .history_wrap {
                    position: relative;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 5px;
                        left: -10px;
                        width: 1px;
                        height: 100%;
                        background-color: $accent-color;
                    }

                    &:last-child {
                        &:before {
                            display: none;
                        }
                    }

                    p.year {
                        line-height: 1em;
                        color: $sub-color;

                        span {
                            position: absolute;
                            left: -14px;
                            top: 2px;
                            display: block;
                            width: 10px;
                            height: 10px;
                            background-color: $accent-color;
                            border-radius: 100%;
                        }
                    }

                    p.event {
                        text-align: left;
                        padding: 0.77em 0 1.54em 0.77em;
                    }

                }

            }

            .ac_content {
                @include ac_content();
                border-bottom: 1px solid $sub-color2;

                &:last-child {
                    border: none;
                }
            }
        }
    }
}

section.nouser {
    @include wrap();

    p.undefinde {
        font-size: 1.15rem;
        line-height: 1.7em;
    }

    span {
        color: $sub-color;
        font-size: 1rem;
    }
}