<p>こんにちわ <%= @email %> さん</p>

<% if @resource.try(:unconfirmed_email?) %>
<p>登録メールアドレスが「<%= @resource.unconfirmed_email %>」に変更されたことをお知らせいたします。</p>
<% else %>
<p>登録メールアドレスが「<%= @resource.email %>」に変更されたことをお知らせいたします。</p>
<% end %>